body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    width:100%;
    display: flex;
    justify-content: space-around;
}


h1 {
    color: #ff6600;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff6600;
    color: white;
}

a {
    color: #ff6600;
    text-decoration: none;
}



nav{
    display: flex;
    justify-content: space-around;
    background-color: #ff6347;
    width:55%;
    border-radius: 30px;
    
}

nav ul {
    margin-top: 15px;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
    display: inline-block;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition:color 0.5s
}

nav ul li a:hover {
  color:#389b0d;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #389b0d;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;  /* Underline grows when hovered */
}

.btn1{
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    border: 3px solid brown;
    transition: all 0.3s;
}

.btn1:hover{
    color:#ff6347;
    background-color: #333;
}